extends layout

block content
  p Welcome to #{title}
  
  h3 Newpct.com
   label   --------------------------
  a(href="http://localhost:3000/find") Estrenos
  br
  br
  a(href="http://localhost:3000/buscar") Buscar/Descargar
  br
  br
  a(href="http://localhost:3000/series") Series
  br
  label ------------------------------------------------------
  br
  h3 Elitetorrent.net
   label   --------------------------
  a(href="https://hellofinder.herokuapp.com/find") Estrenos
  br
  br
  a(href="https://hellofinder.herokuapp.com/buscar") Buscar/Descargar
  br
  label ------------------------------------------------------
  br
