doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery-3.1.1.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
    script(src='https://www.atlasestateagents.co.uk/javascript/tether.min.js')
    script(src='/javascript/bootstrap.min.js')
  body
    h1 HelloFinder
    block content
